.parent-cont{

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card-cont{
    border: 2px solid rgb(119, 113, 113);
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(68, 67, 67, 0.8)
}